@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #121212;
    min-height: 100vh;
    word-break: break-word;
    box-sizing: border-box;
    background-image: url('../../images/background/Wave.png'),
    linear-gradient(
            180deg,
            rgba(2, 2, 4, 0.1) 0%,
            rgba(16, 5, 15, 0.55) 50%,
            rgba(42, 16, 39, 0.9) 100%
    ),
    url('../../images/background/StarsBackground.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom, center, center;
    background-size: contain, cover, cover;
    color: #d7cede;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.layout {
    background-image: url(../../images/background/Logo.png) ;
    background-position: 190% 5%;
    background-repeat: no-repeat;
    background-size: auto 120vh;
}

.emoji-collage {
    height: 500px;
    background-image: url('../../images/background/BgCover.png');
}

.page-detail-wrapper p,
.credits {
    text-align: start ;
    word-wrap: anywhere;
    line-height: 1.5;
    font-size: 28px;
}

.page-detail-wrapper .page-detail--title {
    font-weight: bold;
}

.emoji-list-wrapper {
    margin-top: 100px;
}

.contributors .contributor {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-size: 23px;

}

/* Emoji Card*/
.emoji-tile-wrapper .emoji-tile {
    height: 300px;
    display: flex;
    flex-direction: column;
}

.emoji-tile-wrapper .emoji-tile .emoji--frame {
    flex: 2;
    justify-content: center;
    display: flex;
    align-items: center;

}

.emoji-tile-wrapper .emoji-tile .emoji--description--wrapper {
    flex: 1;
    justify-content: center;
    align-items: start;
    background: #000000;
}

.emoji-tile-wrapper .emoji-tile .emoji--description--wrapper h6:nth-of-type(1) {
   font-size: 20px;
}

.emoji-tile-wrapper .emoji-tile .emoji--description--wrapper h6:nth-of-type(2) {
   font-size: 16px;
}

.emoji-tile-wrapper .emoji-tile .emoji--frame .tile {
    width: 110px;
    height: 110px;
    border-radius: 20px;
    display: flex;
    background: #fff;
    box-shadow:
            12px 12px 16px 0 rgba(0, 0, 0, 0.25),
            -8px -8px 12px 0 rgba(255, 255, 235, 0.3);
    align-items: center;
    justify-content: center;
}

.page-detail-wrapper .emoji--pack--links .link--holder a p {
    font-size: 22px;
}

.link--intro {
    font-size: 24px;
}

.emoji--pack--links {
    text-decoration: none;
    list-style-type: none;
}

.emoji--pack--links .link--holder {
    margin-right: 10px;
}

.platform--image {
    font-size: 28px;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 360px) {
    .platform--image {
        font-size: 14px;
    }
}

.platform--image:hover {
    color: #D7CEDE;
}

