@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=BioRhyme:wght@400;700&family=Lora:wght@400;500;700&family=Playfair+Display:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;900&display=swap');
body {
    font-family: 'Playfair Display', serif;
    /*background-color: #121212;*/
    /*
    font-family: 'BioRhyme', serif;
    font-family: 'Alegreya', serif;
    font-family: 'Lora', serif;
        font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    */
}

a {
    text-decoration: none;
}
.header div h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 80px;
}

.header div p {
    font-size: 34px;
    font-weight: bold;
}
header div .social--links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

header div .social--links div {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 4px;
    background: #ff5a79;
    justify-content: center;
}

header div .social--links div a,
header div .social--links div span {
    color: white;
    margin: 2px;
}

.emoji-list-wrapper {
    margin-top: 200px;
}

.card-wrapper {
    background-color: #2b2b2b;
    border-radius: 4px;
}

.card-wrapper .emoji--image {
    padding: 60px 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    background-color: #ff7281;
}

.card-wrapper .code--text {
    padding: 60px 0;
}
